@import "variables.css";
@import "mediaQueries.css" screen and (max-width: 1440px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--webColor);
    /* position: relative; */
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--commanColor);
}

.container {
    width: 1320px;
    margin: auto;
}

/* header section */

.menuList li:nth-child(2) {
    position: relative;
}

.menuList li:nth-child(2) span::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -2px;
    background-color: var(--hoverBtnColor);
    border-radius: 50%;
}

.menuList li:nth-child(2) span::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -2px;
    background-color: var(--btnColor);
    border-radius: 50%;
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

.menuList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menuList li {
    padding: 8px;
    margin: 2px;
}

.auth a {
    padding: 12px 15px;
    margin: 2px;
    background-color: var(--btnColor);
    border-radius: 4px;
}

.logo {
    width: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.auth a:hover {
    background-color: var(--hoverBtnColor);
    color: var(--white);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menuList a:hover {
    color: var(--hoverBtnColor);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* header section end */

/* banner section */

.banner {
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/banner.jpeg");
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.contentBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    padding: 10px 15px;
    background-color: var(--webColor);
    border-radius: 20px;
    box-shadow: var(--btnColor) 8px 12px 20px 0px;
}

.content {
    margin: 10px 20px;
    max-width: 750px;
}

.headline {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 20px 0;
}

.subline {
    font-size: 20px;
    margin: 10px 0;
}

.headerAction {
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
}

.headerAction a,
input[type=submit] {
    padding: 15px 20px;
    background-color: var(--hoverBtnColor);
    color: var(--white);
}

.img {
    width: 300px;
}

/* banner section end */

/* other section */

.aboutCard,
.contactCard,
.compareCard,
.faqCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}

.sectionHeader {
    font-size: 35px;
    font-weight: bold;
    color: var(--hoverBtnColor);
    margin: 10px;
    position: relative;
}

.sectionHeader::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--btnColor);
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.sectionContent {
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    margin: 10px;
}

.contactUs,
.aboutUs {
    background-color: var(--webCard);
}

.row {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rows:nth-child(3) .row {
    width: 100%;
}

.rows:nth-child(4) .row {
    width: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 14px;
    display: inline-block;
    border: 1px solid var(--btnColor);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=submit] {
    border: none;
}

/* other section end */

/* footer section */
.footerSection {
    background-color: var(--hoverBtnColor);
    color: var(--white);
    padding: 15px 10px;
    text-align: center;
}

.compareCard .rows {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto max-content auto;
    grid-template-rows: auto auto auto auto;
}

@media (min-width: 600px) {
    .compareCard .rows {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .compareCard .rows {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* footer section end */

/* faq section */
.details {
    --padding: 10px;
    border: 1px solid var(--btnColor);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--btnColor);
    width: 100%;
}

.details+.details {
    margin-top: 15px;
}

.details_title {
    --width: 15px;
    --height: 2px;
    --radius: 1px;
    --color: currentColor;
    font-size: 16px;
    margin: 5px;
    padding: var(--padding) calc(var(--width) * 2) var(--padding) var(--padding);
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
}

.details_title:before,
.details_title:after {
    content: '';
    display: block;
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
    position: absolute;
    border-radius: var(--radius);
    top: calc(50% - (var(--height) / 2));
    right: calc(var(--width) / 2);
    transition: all .2s ease-in-out;
}

.details_title:after {
    rotate: 90deg;
}

.details_container[open] .details_title:before {
    rotate: 45deg;
    /* rotate: 135deg; */
}

.details_container[open] .details_title:after {
    rotate: 135deg;
    /* rotate: 225deg; */
}

.details_container[open] .details_title {
    background-color: var(--hoverBtnColor);
    color: var(--white);
}

.details_summary::marker {
    content: '';
}

.details_desc {
    display: grid;
    grid-template-rows: 0fr;
    transition: all .2s ease-in-out;
    overflow: hidden;
    padding-inline: var(--padding);
    pointer-events: none;
}

.details_container[open]+.details_desc {
    grid-template-rows: 1fr;
    padding-block: var(--padding);
}

.details_desc-inner {
    min-height: 0;
    margin: 0 5px 0 5px;
}

/* faq section end */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btnColor);
}

/* Modal Content */
.modal-content {
    position: absolute;
    content: "";
    top: 9%;
    right: 1%;
    background-color: var(--white);
    padding: 15px;
    width: 300px;
    box-shadow: 0px 0px 10px var(--btnColor);
    border-radius: 8px;
}

.close {
    color: var(--hoverBtnColor);
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: var(--hoverBtnColor);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.social-login-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--hoverBtnColor);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
}

.social-login-btn:hover, button[type=submit]:hover {
    background-color: var(--btnColor);
    color: var(--black);
}

/* mode section end */

/* animation section */

@keyframes blink {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(4);
        -webkit-transform: scale(4);
        -moz-transform: scale(4);
        -ms-transform: scale(4);
        -o-transform: scale(4);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 0.3;
    }
}

/* animation section end */